body{
    background-color: #f9e5fa;;
}
h1{
    margin-left: 40%;
    color:#3d3d3d;
}
button{
    text-align: center;
    margin-top: 6vh;
    margin-left: 40vw;
    width: 20%;
    background-color: #cacaca;;
    padding: 16px;
    border-radius: 16px;
    color: #3d3d3d;
}
.elemento{
    width:20%;
    margin-top:20px;
    display: flex;
    margin-left: 40%;
}